[user]
	name = Tom Marek
	email = angelo.sharpe@gmail.com
[color]
	ui = auto
[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = angelo.sharpe@gmail.com
    chainreplyto = false
#    smtpserver = smtp.corp.redhat.com
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
